.metro div .tab-control .tabs .infoTab {
    border: 1px #4390df solid;
    border-bottom: none;
}
.metro div .tab-control .tabs .active .infoTab {
    border: 1px #4390df solid;
    border-bottom: none;
}